<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>creche</servlet-name>
        <servlet-class>CrecheRestFulAPI.creche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrecheRestFindById</servlet-name>
        <servlet-class>CrecheRestFulAPI.CrecheRestFindById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindByFirstName</servlet-name>
        <servlet-class>CrecheRestFulAPI.FindByFirstName</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>creche</servlet-name>
        <url-pattern>/creche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrecheRestFindById</servlet-name>
        <url-pattern>/crechebyid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindByFirstName</servlet-name>
        <url-pattern>/findbyfirstname</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
